.header {

    text-align: center;
    height: 90px;
    background-color: rgba(171, 204, 26, 0.685);
}

.header h1 {
    margin: 0;
}

.header p {
    font-size: 20px;
    margin-top: 10px;
}

@media only screen and (max-width: 688px) {
    .header {
        width: 100%;
    }

}